<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rtext.lang.editor.RTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/rtext_file.gif"
            id="org.rtext.lang.Editor"
            name="RText Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.rtext.lang.Category"
            id="org.rtext.lang.OpenElementCommand"
            name="RText Open Element">
      </command>
      <category
            id="org.rtext.lang.Category"
            name="RText">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.rtext.lang.OpenElementCommand"
            contextId="org.rtext.lang.EditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.rtext.lang.EditorContext"
            name="RText Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
	<extension
	    id="org.rtext.lang.editor.makers"
	    name="RText Problem"
	    point="org.eclipse.core.resources.markers">
	  <super
	    type="org.eclipse.core.resources.problemmarker">
	  </super>
	    <super
	    type="org.eclipse.core.resources.textmarker">
	  </super>
	  <persistent
	         value="true">
	   </persistent>
	</extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.rtext.lang.editor.error"
            includeOnPreferencePage="true"
            symbolicIcon="error">
      </specification>
   </extension>
      <extension
      point="org.eclipse.ui.editors.annotationTypes">
      <type
      	name="org.rtext.lang.editor.error"
      	markerType="org.eclipse.core.resources.problemmarker"
      	markerSeverity="2"
        super="org.eclipse.ui.workbench.texteditor.error">
      </type>
       </extension>
</plugin>
